$color-primary: #604CC3;
$color-secondary: #80C4E9;
$color-soft-secondary: #e1ebf2;
$color-accent: #FF7F3E;

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Small devices (landscape phones, 640px and up) */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2X large devices (very large desktops, 1536px and up) */
@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}
